$font-stack: Helvetica, sans-serif;
$primary-color: #527474;
$custom-border-radius: 10px;
$primary: #09d3ac;
$navbar-padding-y: 0.2rem;
$navlink-padding-y: 0rem;
$navbar-brand-padding-y: 0 rem;
$btn-border-radius: $custom-border-radius;
$modal-content-border-radius: $custom-border-radius;
$url-list-item-color: rgb(240, 240, 240);

